h1{
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  margin: 20px;
}
.clock {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  width: 350px;
  height: 200px;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}

.clock h1{
  font-size: 30px;
  margin: 3px;
}
.date-time {
  background-color: pink;
  width: 100%;
  border-radius: 5px;
  border: 3px solid black;
}

.clock-row {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  font-size: 20px;
  text-shadow: 1px 1px 2px white;
}

.tabs{
  font-family: 'Roboto Mono', monospace;
  display: flex;
  width: 350px;
  height: 200px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #fef65b;
}
.tabs ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 3px;
}
.tabs li{
  border: 1px solid black;
}
.tabs li:hover {
  color: white;
  background-color: blue;
}

.tabs p{
  margin-top: 10px;
}
